* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cinzel", serif;
}

body {
    background: #f5f5f5;
    color: #333;
    
}

img {
    max-width: 100%;
}
.btn-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background: transparent;
    border: none;
    font-size: 28px;
    cursor: pointer;
    display: none; /* escondido no desktop */
}
ul {
    list-style: none;
}

header {
    width: 100%;
    padding: 15px 40px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: 0.3s;
}

/* sombra ao rolar (JS) */
header.ativo {
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.25);
}

.logo {
    font-size: 28px;
    color: #13698f;
    font-weight: bold;
    padding:-30px;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links li a {
    color: #13698f;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s;
}

.nav-links li a:hover {
    color: #1bbbd6;
}
.agendar {
    background: #1bbbd6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.agendar:hover {
    background: #13698f;
}
.agendar:active {
    transform: scale(0.95);
}
.agendar:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(27, 187, 214, 0.5);
}

.menu {
    background: #13698f;
    padding: 10px 30px;
}

.login-signup {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.login-signup a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.login-signup a:hover {
    text-decoration: underline;
}
.texto {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}
.institucional{
    width: 500px;
    height: 300px;
    padding: 20px;
    font-size: 18px;   
}

.foto{
    padding: 10px;
    width: 50%;
    height: 50%;
}

.imagem{
    padding: 0;
}



footer {
    background: #13698f;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}
